@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@model IEnumerable<ProductList.Models.Category>
@{

}
<div class="text-center container">

    <h1>Create product</h1>

    <a href="javascript: history.go(-1)">Go Back</a>

    <form method="post" class="mx-auto mt-5 mb-5 px-5 pt-5 rounded-5 pb-5 bg-light col-6" asp-controller="Products" asp-action="Create">
        @*<input type="number" asp-for="ProductId" name="ProductId" class="w-100" placeholder="Product Id" required /><br />*@

        @Html.DropDownList("CategoryId", new SelectList(Model, "CategoryId", "CategoryName"), "Select Category", htmlAttributes: new { @class = "form-control form-control-login font-weight-bold p-0" })
        <br />
        <input type="text" name="ProductName" class="w-100" placeholder="Product Name" autocomplete="off" required>

        <button class="btn btn-success rounded-5 btn-sm mt-3" type="submit">Add</button>

    </form>
</div>