@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@model ProductList.Models.Product
@{

}
<div class="text-center container">

    <h1>Delete Product</h1>

    <a href="javascript: history.go(-1)">Go Back</a>

    <form method="post" class="mx-auto mt-5 mb-5 px-5 pt-5 rounded-5 pb-5 bg-light col-4" asp-controller="Products" asp-action="DeleteProduct">

        <input type="hidden" asp-for="ProductId" name="ProductId" class="w-100" placeholder="Product Id" autocomplete="off">

        <label class="w-100">
            Do you want to delete @Model.ProductName ?
        </label>

        <a href="javascript: history.go(-1)" class="btn btn-info rounded-5 btn-sm mt-3">No</a>
        <button class="btn btn-danger rounded-5 btn-sm mt-3" type="submit">Yes</button>

    </form>
</div>