@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@model ProductList.Models.Product
@{
    var list = ViewData["list"] as List<Category>;
}
<div class="text-center container">

    <h1>Update product</h1>

    <a href="javascript: history.go(-1)">Go Back</a>

    <form method="post" class="mx-auto mt-5 mb-5 px-5 pt-5 rounded-5 pb-5 bg-light col-4" asp-controller="Products" asp-action="Edit">

        <input type="hidden" asp-for="ProductId" name="ProductId" class="w-100" placeholder="Product Id" autocomplete="off">

        @Html.DropDownList("CategoryId", new SelectList(list, "CategoryId", "CategoryName"), htmlAttributes: new { @class = "form-control form-control-login font-weight-bold p-0" })
        <br />

        <input type="text" asp-for="ProductName" name="ProductName" class="w-100" placeholder="Product Name" autocomplete="off">

        <button class="btn btn-success rounded-5 btn-sm mt-3" type="submit">Update</button>

    </form>
</div>